@tailwind base
@tailwind components
@tailwind utilities

@import 'base'
@import 'header'
@import 'main-menu'
@import 'mobile-menu'
@import 'article'

// Custom styles.

.irrev-hero
	position: relative
	width: 100%
	height: 100vh
	height: 100dvh
	overflow: hidden

	&__img
		display: block
		width: 100%
		height: 100%
		object-fit: cover
		object-position: center





// Theme toggle button.
.theme-toggle
	@apply cursor-pointer text-xl leading-none
	background: none
	border: none
	color: inherit

	&__icon--dark
		display: none

	.dark &
		.theme-toggle__icon--light
			display: none

		.theme-toggle__icon--dark
			display: inline
